version: "3"
services:
  # service-postgres:
  #   image: postgres:9.6.20
  #   container_name: postgres
  #   restart: unless-stopped
  #   volumes:
  #     - ./data/postgres:/var/lib/postgresql/data
  #   ports:
  #     - "5432:5432"
  #   environment:
  #     - POSTGRES_DB=postgres
  #     - POSTGRES_USER=postgres
  #     - POSTGRES_PASSWORD=postgres
  service-rabbitmq:
    image: rabbitmq:3.8-management
    container_name: rabbitmq
    restart: unless-stopped
    volumes:
      - ./data/rabbitmq:/var/lib/rabbitmq
    env_file: ./.env.sample
    ports:
      - "5672:5672"
      - "15672:15672"
  service-traccar:
    image: traccar/traccar:4.12-alpine
    container_name: traccar
    restart: unless-stopped
    volumes:
      - ./data/traccar/logs:/opt/traccar/logs:rw
      - ./data/traccar/data:/opt/traccar/data:rw
      - ./data/traccar/media:/opt/traccar/media:rw
      - ./conf/traccar/traccar.xml:/opt/traccar/conf/traccar.xml:ro
    ports:
      - "8082:8082"
      - "5000-5250:5000-5250"
      - "5000-5250:5000-5250/udp"
  service-node-sample:
    image: custom/node-sample
    container_name: node-sample
    build:
      context: ./node-sample/
      dockerfile: ./Dockerfile
    env_file: ./.env.sample
    ports:
      - "43000:43000"
    # depends_on:
    #   - service-postgres
  # service-php-sample:
  #   image: newdeveloper/apache-php-composer:28-05-2020
  #   container_name: php-sample
  #   restart: unless-stopped
  #   volumes:
  #     - ./php-sample/:/var/www/html/public:rw
  #   ports:
  #     - "8083:80"
